/* IMPOSTAZIONI GENERALI */
/* IMPOSTAZIONI GENERALI */
body{
    background-image: url(../img/sfondo.png);
    margin: 0 auto;
    background-attachment: fixed ;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5%;
   font-size: 1rem;
    letter-spacing: -0.5px;
    
}
/* hr{
    opacity: 0;
} */
hr{display: none;}
/* HEADER */
header {
    background: rgb(3,109,134);
    background: linear-gradient(0deg, rgba(3,109,134,1) 0%, rgba(0,158,196,1) 100%); 
    margin: 0 auto;
    width: 90%;
    align-self: center;
    box-shadow: 2px 2px grey;
    text-align: center;
    color: white;    
    height: 100%;
    padding-top:4%;
    padding-bottom: 4%;
    padding-left: 1%;
    padding-right: 1%;   
    margin-bottom: 6%; 
    
}

.primo {
    color: rgb(216, 213, 213);  
}
header a:before{
  list-style-type: symbols();
}
header li{
    text-decoration: none;
}
header p{
    text-align: center;
    color: white;
}
div p{
padding: 15px;
text-transform: uppercase;
}

nav{
    margin: 0 auto;
}

li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

li a :last-child{
    margin-bottom: 10px;
}
li a :first-child{
    padding: 4px;
}
hr{
    text-decoration: none;
}
/* MAIN */
main{
    background-color: white;
    box-shadow: 2px 2px grey;
    width: 90%;
    align-self: center;
    margin: 0 auto;
    padding: 1% 2% 2% 2% ;
}
h1{
    text-align: center;
    font-weight: bold;
    padding-top: 6%;
    font-size: 160%;
    letter-spacing: -1px;
    text-align: justify;
    padding-bottom: 3%;
}

h1 + p {
        padding: 4%;
        font-size: medium;
       
}

h1 p :first-child {
    color:rgb(167, 167, 167);
   padding-bottom:6% ;
}
p {
    text-align: left;
    color: black;
    padding: 4% 0;   
}
p strong{
    color: blueviolet;
    font-weight: bold;
}
article li{
    color: black;
margin-left: 12%;
}
code{
    border-radius: 10%;
    border: solid 0.6px black;
    background-color:lightgray;
    line-height: 1.3;
}
caption{
    font-weight: bold;
    font-style: italic;   
}
thead{
    background-color: blue;
    color: white;
}
td{
    /* padding: 2%; */
}
th{
   /*  padding:4% ; */
  /*   width: 9%; */
}
tbody{
    border-bottom: 3px solid blue;
}
tr:nth-child(2n){
    background-color: lightgray;
}
iframe{
    border-radius: 2em;
    margin-bottom: 7%;
    width: 100%;
    height: 75%;
    
}

section{
    background-color: rgb(172, 172, 172);
    padding-bottom: 4%;
    padding-left: 4%;
    margin-bottom: 4%;
}

section form{
    text-align: justify;
}
fieldset button{
    background-color: rgb(47, 90, 209);
    color: white;
}
fieldset input{
    border: solid 2% black;
}
input{
    border-bottom: dashed 0.2em rgb(61, 161, 181);
}
section h2{
    font-size: larger;
    padding-top: 5%;
    height: max-content;
    font-weight: bold;
    text-align: center;
}
/* ELEMENTI NELL' ASIDE */ 
aside h2{font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 9%;
    margin-bottom: 6%;
}
aside div{ 
    width: 100%;
    margin: 10px auto;
    border: 2px solid lightgray;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgba(206, 201, 201, 0.743);
    }
aside a{font-size: 1,5em;
color: rgb(6, 146, 156);}
aside div :last-child{text-align: right;
font-size: 80%;
margin: 5px;} 
/* FOOTER */
footer{ width: 90%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(9, 84, 107, 0.743);
    color: white;
    
    font-size: 80%;
    line-height: 120%;
    box-shadow: 0px 3px 5px black;}
footer a{color: blueviolet;
}
footer p{text-align: center;}
footer address{ 
text-align: center;
margin-top: 5%;
margin-bottom: 5%;}